<!--
Title:GRC/IT328/Dating App/personal.html
Author: Robert Hill, III
Date: 04.18.2019
Code Version: V1.0
Availability: http://rhill.greenriverdev.com/328/datingB/cap
-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuickTrip App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" lang="en">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- The Heading -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="nav"><span>QuickTrip Website</span></a>
</nav>
<br>
<!-- Cards Side by Side-->
<div class="container">
    <div class="col-sm-12">
        <div class="card" id="personalInfoCard">
            <h1 class="aTitle">Personal Information</h1>
            <hr>
            <div class="row">
                <!--First Fields-->
                <div class="col-sm-8" id="personFields">
                    <!--POST user Inputs from Route-->
                    <form action="#" method="post" id="perForm" name="formName" value="Personal Information" >
                        <!--Get the First Name-->
                        <div class="form-group">
                            <strong><label for="firstName">First Name</label></strong>
                            <input class="form-control" id="firstName" name="uFirst" placeholder="Sarah" type="text">
                        </div>
                        <!--Get the Last Name-->
                        <div class="form-group">
                            <strong><label for="lastName">Last Name</label></strong>
                            <input class="form-control" id="lastName" name="uLast" placeholder="Smith" type="text">
                        </div>
                        <!--Get user Age-->
                        <div class="form-group">
                            <strong><label for="example-number-input" class="form-label"><em>Your</em>Age</label></strong>
                            <input class="form-control" type="number" placeholder="30" id="example-number-input" name="uAge">
                        </div>
                        <!--Get user Role-->
                        <div class="form-group">
                            <strong><label for="optionsRadios1" class="form-label">Tripper <em>(*You)</em></label></strong>
                            <div class="container-fluid" id="roleButtons">
                                <div class="col-5">
                                    <div class="row">
                                        <div class="form-check form-check-inline col">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="uRole" id="optionsRadios1" value="traveler">Traveler</label>
                                        </div>
                                        <div class="form-check form-check-inline col">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="uRole" id="optionsRadios2" value="tour">Tour-Guide</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Get user Phone#-->
                        <div class="form-group">
                            <strong><label for="example-tel-input" class="form-label">Phone Number</label></strong>
                            <input class="form-control" id="example-tel-input" name="uNum" type="tel"
                                   placeholder="222-333-4444">
                        </div>
                    </form>
                </div>
                <!--Second Fields-->
                <div class="col-sm-4" id="postPerForm">
                    <!--EULA -->
                    <div class="alert alert-secondary" role="alert">
                        <p class="text-center">
                            <strong>Note:</strong> All information entered is protected by our <a href="#" class="alert-link">privacy policy</a>. Profile information can only be viewed by others with your permission.
                        </p>
                    </div>
                    <!--SUBMIT POST to Route button-->
                    <div class="container text-right" style="position: absolute; bottom: 0px; padding-right: 10%;">
                        <button type="submit" class="btn btn-primary btn-lg" form="perForm">Next></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>