<!--
Title:GRC/IT328/Dating App/profile.html
Author: Robert Hill, III
Date: 04.18.2019
Code Version: V1.0
Availability: http://rhill.greenriverdev.com/328/datingB/pro
-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuickTrip App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" lang="en">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- The Heading -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="nav"><span>QuickTrip Website</span></a>
</nav>
<br>
<!-- Cards Side by Side-->
<div class="container">
    <div class="col-sm-12">
        <div class="card" id="personalInfoCard">
            <h1 class="aTitle">Profile</h1>
            <hr>
            <div class="row">
                <!--First Fields-->
                <div class="col-sm-6" id="personFields">
                    <!--POST user Inputs from Route-->
                    <form action="inter" method="post" id="proForm">
                        <!--Get the user Email-->
                        <div class="form-group">
                            <strong><label for="eName">Email</label></strong>
                            <input class="form-control" id="eName" name="uEmail" placeholder="my_email@gmail.com" type="email">
                        </div>
                        <!--Get the user State-->
                        <div class="form-group">
                            <strong><label for="lastName">State</label></strong>

                            <select class="form-control input-large bfh-states" data-country="US" data-state="WA" id="lastName" name="uState"></select>
                        </div>
                        <!--Get user Age-->
                        <div class="form-group">
                            <strong><label for="example-number-input" class="form-label"><em>Your</em> Age of Interest</label></strong>
                            <input class="form-control" type="number" placeholder="30" id="example-number-input" name="iAge">
                        </div>
                        <!--Get user Interest Role-->
                        <div class="form-group">
                            <strong><label for="optionsRadios1" class="form-label">Trippee <em>(*Seeking)</em></label></strong>
                            <div class="container-fluid" id="roleButtons">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="form-check form-check-inline col">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="iRole" id="optionsRadios1" value="traveler" checked>Traveler</label>
                                        </div>
                                        <div class="form-check form-check-inline col">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="iRole" id="optionsRadios2" value="tour">Tour-Guide</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <!--Second Fields-->
                <div class="col-sm-6" id="postPerForm">
                    <!--EULA -->
                    <!--Get the user Biography-->
                    <div class="form-group">
                        <strong><label for="uBio">Biography</label></strong>
                        <textarea class="form-control" id="uBio" name="uBio" placeholder="Quick! Tell us about your Trip in..." type="text" rows="6"></textarea>
                    </div>
                    </form>
                    <!--SUBMIT POST to Route button-->
                    <div class="container text-right" style="position: absolute; bottom: 0px; padding-right: 10%;">
                        <button type="submit" class="btn btn-primary btn-lg" form="proForm">Next></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>