<!--
   Title:GRC/IT328/Dating App/summary.html
   Author: Robert Hill, III
   Date: 04.20.2019
   Code Version: V1.0
   Availability: http://rhill.greenriverdev.com/328/datingB/pro
   -->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuickTrip App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" lang="en">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- The Heading -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="./"><span>QuickTrip Website</span></a>
</nav>
<br>
<!-- Cards Side by Side-->
<div class="container">
    <div class="col-sm-10">
        <div class="card" id="summaryInfoCard" style="padding-top: 5%; padding-bottom: 5%;">
            <div class="container-fluid">
                <div class="row">
                    <!--First Fields-->
                    <div class="col-sm-6" id="personFields">
                        <div class="container-fluid">
                            <div class="card" style="width: 100%;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Name: {{$_SESSION['uFirst'] }} {{$_SESSION['uLast'] }}</li>
                                    <li class="list-group-item">Tripper/Trippee: {{$_SESSION['uRole'] }}</li>
                                    <li class="list-group-item">Age: {{$_SESSION['uAge'] }}</li>
                                    <li class="list-group-item">Phone: {{$_SESSION['uNum'] }}</li>
                                    <li class="list-group-item">Email: {{$_SESSION['uEmail'] }}</li>
                                    <li class="list-group-item">State: {{$_SESSION['uState'] }}</li>
                                    <li class="list-group-item">Seeking Tripper/Trippee: {{$_SESSION['iRole'] }}</li>
                                <check if="{{ @SESSION['premium'] }}">
                                    <li class="list-group-item">Interests: {{$_SESSION['interest']}}</li>
                                </check>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Second Fields-->
                    <div class="col-sm-6" id="postPerForm">
                            <div class="container-fluid">
                                <div class="mh-60" style="width: 100%; height: 100%;">
                                    <img alt="" class="img-fluid rounded" src="images/default-profile.png">
                                </div>
                                <div class="container" style="height: 150px;">
                                    <h5>Biography</h5>
                                    <div class="mh-100">
                                        {{ $_SESSION['uBio'] }}
    <!--                                    <p>{{ $_SESSION['uBio'] }}</p>-->
                                    </div>

                                </div>
                            </div>
                    </div>
                    <!--SUBMIT POST to Route button-->
                    <div class="mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg">Contact Me!</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>