/*
Title:GRC/IT328/Dating App/styles.css
Author: Robert Hill, III
Date: 04.18.2019
Code Version: V1.0
Availability: http://rhill.greenriverdev.com/328/datingB/styles/styles.css
*/
#roleButtons {
    padding-left: 0;
}

#personalInfoCard {
    width: 100% ;
    height: 50%;
    padding: 2%;
}

h1 .aTitle {
    padding-top: 1%;
}

#performButton {
    position: absolute;
    bottom: 0px;
    padding-right: 10%;
}

#personFields {
    width: 100%;
    height: 100%;
}